@page 
@using KOTApp.Models
@model KOTApp.Pages.org.EditModel

@{
    ViewData["Title"] = "Edit Company";
}

<h1> @(@Model.Company.CompanyId==0 ? "Add New" : "Update") Company Info</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyId" />
            <input type="hidden" asp-for="Company.CompanyOwnerId" />
            <input type="hidden" asp-for="Company.CurrentTFPayTFId" />

            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyAddress" class="control-label"></label>
                <input asp-for="Company.CompanyAddress" class="form-control" />
                <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Payment Frequency</label>
                <select asp-for="Company.PaymentFrequency" class="form-control" asp-items="Html.GetEnumSelectList<PayFrequency>()"></select>
                <span asp-validation-for="Company.PaymentFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CurrentTFStart" class="control-label"></label>
                <input asp-for="Company.CurrentTFStart" class="form-control" type="date"/>
                <span asp-validation-for="Company.CurrentTFStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CurrentTFEnd" class="control-label"></label>
                <input asp-for="Company.CurrentTFEnd" class="form-control" type="date"/>
                <span asp-validation-for="Company.CurrentTFEnd" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Company.CompanyOwnerPercent" class="control-label"></label>
                <input asp-for="Company.CompanyOwnerPercent" class="form-control" />
                <span asp-validation-for="Company.CompanyOwnerPercent" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-oid=@Model.Company.CompanyOwnerId class="btn btn-info mt-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
