@page 
@model KOTApp.Pages.org.IndexModel

@{
    ViewData["Title"] = "My Companies";
}
<h3 class="text-primary">Welcome back, @Model.Owner.OwnerName</h3>
<h1>My Companies
    <a asp-page="Edit"  asp-route-cid="0" 
        class="btn  btn-sm btn-outline-primary float-md-end">
    Add Company</a>
</h1>
<form method="get" style="display:none;">
    <div class="input-group mt-2">
        <input type="search" class="form-control" value="" />
        <span class="input-group-lg">
            <button class="btn btn-dark">Search</button>
        </span>
    </div>
</form>
<div class="row ">
    @foreach (var item in Model.Companies)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 10rem;">
                <span class="card-header text-primary">@item.CompanyName</span>
                <div class="card-body text-center">
                    <img style="max-width:100px;" 
                         src="/images/company-enterprise.png" 
                         class="card-img-top" 
                         alt="company">
                    <br />
                    @item.CompanyAddress
                    <div class="mt-2">
                        <a asp-page="OrgDetails" 
                           
                            asp-route-cid="@item.CompanyId" 
                            class="btn btn-primary stretched-link">
                        Manage</a>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
