@page
@model KOTApp.Pages.changeOrders.AddModel

<h4>ChangeOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChangeOrder.Cost" class="control-label"></label>
                <input asp-for="ChangeOrder.Cost" class="form-control" />
                <span asp-validation-for="ChangeOrder.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeOrder.Description" class="control-label"></label>
                <input asp-for="ChangeOrder.Description" class="form-control" />
                <span asp-validation-for="ChangeOrder.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeOrder.ChangeOrderNumber" class="control-label"></label>
                <input asp-for="ChangeOrder.ChangeOrderNumber" class="form-control" />
                <span asp-validation-for="ChangeOrder.ChangeOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
