@page
@model KOTApp.Pages.tx.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TxEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TxEntry.Descr" class="control-label"></label>
                <input asp-for="TxEntry.Descr" class="form-control" />
                <span asp-validation-for="TxEntry.Descr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.TxAmount" class="control-label"></label>
                <input asp-for="TxEntry.TxAmount" class="form-control" />
                <span asp-validation-for="TxEntry.TxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.TxType" class="control-label"></label>
                <select asp-for="TxEntry.TxType" class="form-control"></select>
                <span asp-validation-for="TxEntry.TxType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.TxDate" class="control-label"></label>
                <input asp-for="TxEntry.TxDate" class="form-control" />
                <span asp-validation-for="TxEntry.TxDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.EmployeeId" class="control-label"></label>
                <select asp-for="TxEntry.EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.CompanyId" class="control-label"></label>
                <input asp-for="TxEntry.CompanyId" class="form-control" />
                <span asp-validation-for="TxEntry.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TxEntry.ContractId" class="control-label"></label>
                <select asp-for="TxEntry.ContractId" class ="form-control" asp-items="ViewBag.ContractId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
