@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KOT</h1>
</div>
<div class="row ">
    <div class="col-sm-3 offset-1">
        <div class="card float-end" style="width: 10rem;">
            <div class="card-header">
                Company Owner
            </div>

            <div class="card-body text-center">
                <img style="max-width:100px;" src="/images/man-in-suit-and_1509676.png" class="card-img-top" alt="company">

                <div class="mt-2">
                    <a href="/org/Index?oid=1" class="btn btn-primary stretched-link">Owner 1</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img style=" " src="/images/cat-office-comp.jpg" class="" alt="company">
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 10rem;">
            <div class="card-header">
                Company Owner
            </div>

            <div class="card-body text-center">
                <img style="max-width:100px;" src="/images/man-in-suit-and_1509676.png" class="card-img-top" alt="company">
                <div class="mt-2">
                    <a href="/org/Index?oid=2" class="btn btn-primary stretched-link ">Owner 2</a>
                </div>

            </div>
        </div>
    </div>

</div>
