@page
@model KOTApp.Pages.contracts.CreateModel

@{
    ViewData["Title"] = "Add";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid=@Model.Org.CompanyOwnerId 
       class="link">
    My Companies</a> 

    > <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 

    > <a href='@("/contracts/index?cid=" + Model.Org.CompanyId)'>Contracts</a>
    > Add contract
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.ContractName" class="control-label"></label>
                <input asp-for="Contract.ContractName" class="form-control" />
                <span asp-validation-for="Contract.ContractName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CompletionCertificate" class="control-label"></label>
                <input asp-for="Contract.CompletionCertificate" class="form-control" />
                <span asp-validation-for="Contract.CompletionCertificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ContractAmount" class="control-label"></label>
                <input asp-for="Contract.ContractAmount" class="form-control" />
                <span asp-validation-for="Contract.ContractAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.AdvancePercent" class="control-label"></label>
                <input asp-for="Contract.AdvancePercent" class="form-control" />
                <span asp-validation-for="Contract.AdvancePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.Cost" class="control-label"></label>
                <input asp-for="Contract.Cost" class="form-control" />
                <span asp-validation-for="Contract.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.NETSale" class="control-label"></label>
                <input asp-for="Contract.NETSale" class="form-control" />
                <span asp-validation-for="Contract.NETSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.StartDate" class="control-label"></label>
                <input asp-for="Contract.StartDate" class="form-control" />
                <span asp-validation-for="Contract.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CompanyId" class="control-label"></label>
                <select asp-for="Contract.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CompanyOwnerAmount" class="control-label"></label>
                <input asp-for="Contract.CompanyOwnerAmount" class="form-control" />
                <span asp-validation-for="Contract.CompanyOwnerAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CompanyOwnerPercent" class="control-label"></label>
                <input asp-for="Contract.CompanyOwnerPercent" class="form-control" />
                <span asp-validation-for="Contract.CompanyOwnerPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EmployeeId" class="control-label"></label>
                <select asp-for="Contract.EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EmpCommAmount" class="control-label"></label>
                <input asp-for="Contract.EmpCommAmount" class="form-control" />
                <span asp-validation-for="Contract.EmpCommAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.EmpCommPercent" class="control-label"></label>
                <input asp-for="Contract.EmpCommPercent" class="form-control" />
                <span asp-validation-for="Contract.EmpCommPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
