@page
@model KOTApp.Pages.contracts.EditModel

@{
    ViewData["Title"] = "Update";
}

<h4> 
    <a asp-page="../Org/Index" 
       asp-route-oid=@Model.Org.CompanyOwnerId 
       class="link">
    My Companies</a> 
     >
    <a asp-page="../Org/OrgDetails"
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId"
       class="link">
      @Model.Org.CompanyName</a> 

   > Update Contract Info
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <span asp-validation-summary="ModelOnly" class="text-danger"></span>

            <input type="hidden" asp-for="Job.CompanyId" />
            <input type="hidden" asp-for="Job.EmployeeId" />
            <input type="hidden" asp-for="Job.ContractId" />
            <input type="hidden" asp-for="Job.AdvanceAmount" />
            <input type="hidden" asp-for="Job.CompanyOwnerAmount" />
            <input type="hidden" asp-for="Job.ContractAmount" />
            <input type="hidden" asp-for="Job.EmpBalanceAmount" />
            <input type="hidden" asp-for="Job.EmpCommAmount" />
            <input type="hidden" asp-for="Job.GrossProfit" />
            <input type="hidden" asp-for="Job.NETSale" />
            <input type="hidden" asp-for="Job.AdvancePercent" />
            <input type="hidden" asp-for="Job.CompanyOwnerPercent" />
            <input type="hidden" asp-for="Job.EmpCommPercent" />
            <input type="hidden" asp-for="Job.StartDate" />

            <div class="form-group">
                <label asp-for="Job.ContractName" class="control-label"></label>
                <input asp-for="Job.ContractName" class="form-control" />
                <span asp-validation-for="Job.ContractName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.CloseDate" class="control-label"></label>
                <input asp-for="Job.CloseDate" class="form-control" />
                <span asp-validation-for="Job.CloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.CompletionCertificate" class="control-label"></label>
                <input asp-for="Job.CompletionCertificate" class="form-control" />
                <span asp-validation-for="Job.CompletionCertificate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-cid="@Model.Org.CompanyId" class="btn btn-info mt-2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
