@page
@model KOTApp.Pages.org.emp.CreateModel
@using KOTApp.Models
@{
    ViewData["Title"] = "Adding";
}

<h1>Add Employee to @Model.Org.CompanyName</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.CompanyId" value="@Model.Org.CompanyId"/>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.HiredDate" class="control-label"></label>
                <input asp-for="Employee.HiredDate" class="form-control" />
                <span asp-validation-for="Employee.HiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.TermDate" class="control-label"></label>
                <input asp-for="Employee.TermDate" class="form-control" />
                <span asp-validation-for="Employee.TermDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DrawAmount" class="control-label"></label>
                <input asp-for="Employee.DrawAmount" class="form-control" />
                <span asp-validation-for="Employee.DrawAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmpCommPercent" class="control-label"></label>
                <input asp-for="Employee.EmpCommPercent" class="form-control" />
                <span asp-validation-for="Employee.EmpCommPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" 
    href='@("/org/emp/?cid=" + Request.Query["cid"])'>back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
